.requests{
    .admin-account-requests {
      h1{
        color: darkblue;
      
      }
        padding: 20px;
      }
      
      .actions {
        display: flex;
        justify-content: space-between;
      }
      
}