.requests{
    .admin-account-requests {
      h3{
        color: #333333;
        animation: pulse 1.5s infinite ease-in-out;
      }
        padding: 20px;
      }
      .actions {
        display: flex;
        justify-content: space-between;
      }
      
}