// src/Admin/Pages/CommentsPage/CommentsPage.scss
.commentsPage {
background: #DEF1FE;

  
  h1{color: darkblue;}
  
    margin-top: 20px;
  
}
  .commentsPage .MuiTypography-root {
    margin-bottom: 20px;
  }
